<% provide(:title, @team.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @team.name %>
      </h1>
    	<% if @team.users.include?(current_user) %>
    		<h7>
    			<%= link_to "Edit team", edit_team_path(@team) %>
    		</h7>
    	<% end %>  
    </section>
    <section>
      <h4 class="center">Team users</h4>
    	<ul class="users-list">
    		<%= render @team.users %>
    	</ul>
    </section>
  </aside>
  <div class="span8">
    <% if @team.requested_users.any? and @team.users.include?(current_user) %>
      <h4 class="center">Open requests:</h4>
      <ul class="team-requests">
        <%= render partial: "shared/requested_users", collection: @team.requested_users, as: :user %>
      </ul>
    <% end %>
  </div>
</div>