<div class="center hero-unit">
  <h1>Registration for Cyberbot Robotics Festival</h1>

  <h2>
    This is the home page for the registration system for Cyberbot Robotics Festival.
  </h2>

  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>
