<div class="counter-container">
	<div class="users-count">
		<h4 class="users-number"><%= User.all.count %></h4>
		<h4>users</h4>
	</div>
	<div class="teams-count">
		<h4 class="teams-number"><%= Team.all.count %></h4>
		<h4>teams</h4>
	</div>
	<div class="robots-count">
		<h4>0</h4>
		<h4>robots</h4>
	</div>
</div>